exportPattern("^[[:alpha:]]+")
import("fPortfolio","tcltk","tcltk2","xts","zoo")
importFrom("grDevices", "dev.new","colorRampPalette")
importFrom("graphics", "abline", "legend","lines","par","plot", "plot.new")
importFrom("utils", "data","head","tail", "write.csv")
importFrom("stats", "as.formula", "cor", "cov","time", "na.omit")
export("JFE")
